@font-face {
    font-family: ubuntu-reg;
    src: url(assets/fonts/Ubuntu-Regular.ttf);
}
@font-face{
    font-family: ubuntu-bold;
    src: url(assets/fonts/Ubuntu-Bold.ttf);
}
@font-face{
    font-family: ubuntu-med;
    src: url(assets/fonts/Ubuntu-Medium.ttf);
}
:root{
    /* primary */
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);
    /* neutral */
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'ubuntu-reg';
    background-color: var(--magnolia);
    font-size: 16px;
    overflow: hidden;
}

.container{
    display: flex;
    background-color: var(--white);
    width: 70%;
    margin: 1.8rem auto;
    height: 600px;
    align-items: flex-start;
    padding: 1rem;
    gap: 2.7rem;
    border-radius: 9px;
}
.sidebar-bg{
    width: 34%;
    background-image: url(assets/images/bg-sidebar-desktop.svg);
    height: 600px;
    background-repeat: no-repeat;
}

#sidebar{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
    height: 100%;
    margin: 3rem auto auto 2rem;
}
.sidebar-option{
    display: flex;
    gap: 1.2rem;
    width: 100%;
}
.button-info{
    text-transform: uppercase;
}
.circle-btn{
    width: 12%;
    border: solid 1.5px var(--white);
    color: white;
    background: transparent;
    border-radius: 50%;
    font-family: 'ubuntu-bold';
}
.circle-btn:hover{
    background-color: var(--light-blue);
    border-color: var(--light-blue);
    color: var(--marine-blue);
    cursor: pointer;
}
.button-info p{
    font-size: 15px;
    color: var(--cool-gray);
}
.button-info h4{
    font-family: 'ubuntu-med';
    color: var(--alabaster);
}
/* personal-info */
#personal-info{
    min-height: 80vh;
    width: 54%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0 0 0;
}
.form-intro h1{
    font-family: 'ubuntu-bold';
    color: var(--marine-blue);
    margin-bottom: 0.7rem
}
.form-intro p{
    font-family: 'ubuntu-reg';
    color: var(--cool-gray);
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: none;
}
.form-contents{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.form-contents label{
    font-family: 'ubuntu-reg';
    color: var(--marine-blue);
}
.form-contents input{
    padding: 1rem;
    border: solid 1px var(--light-gray);
    border-radius: 7px;
    font-size: 16px;
    color: var(--marine-blue);
    font-family: 'ubuntu-med';
}
.next-btn{
    padding: 1rem 1.3rem;
    background-color: var(--marine-blue);
    border: 1px solid var(--marine-blue);
    border-radius: 9px;
    color: var(--white);
    font-size: 16px;
    font-family: 'ubuntu-bold';
    position: relative;
    top: 54px;
    left: 354px;
}
.form-contents input:focus, .form-contents input:hover{
    outline: none;
    border-color: var(--purplish-blue);
    cursor: pointer;
}